/* App.css */
html{
  background-color:rgb(235, 172, 26);
}
.app {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
  }
  
  h1 {
    color: #333;
  }
  
  button {
    padding: 8px 16px;
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #283083;
  }
  
  .task {
    border: 3px solid #0f0f0f;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 10px;
    background: rgb(249,250,249);
    background: radial-gradient(circle, rgba(249,250,249,1) 0%, rgba(109,240,188,1) 100%);
  }
  .task:hover{
    background-color: #86FD0F; 
  }
  .task button {
    margin: 5px;
    margin-top: 5px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .task button:hover {
    background-color: #71161f;
  }
  
  .task p {
    margin: 5px 0;
  }
  